.btn {
    display: inline-block;
    width: 236px;
    box-sizing: border-box;
    padding: 13px;
    border-radius: 10px;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    &-dark {
        color: #ffffff;
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }

    &-light {
        color: #4E535B;
        border: 1px solid #1B3E85;
    }

    &-task-card {
		padding: 13px 40px;
	}
}