.text-input {

    &-container {
        position: relative;
        margin-bottom: 20px;
    }

    &-icon {
        position: absolute;
        width: 82px;
        height: 100%;
        @include flex-center;
    }
}

.form-control {
    width: 100%;
    box-sizing: border-box;
    padding: 25px 82px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;    
    font-size: 21px;
    color: #333333;
    outline: none;

    &.complete {
        background: #EDF2F5;
    }
}

.form-control::placeholder {
    color: #BDBDBD;
}

.form-link {
    text-align: right;
    color: #BDBDBD;
    font-size: 21px;
    text-decoration: none;
}

.form-text {
    font-size: 21px;
    line-height: 36px;
    color: #BDBDBD;
    margin-bottom: 50px;
}

.checkbox {

    &-container {
        position: relative;
    }

    &-input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }

    &-overlay {
        padding-left: 45px;
        font-size: 21px;
        color: #BDBDBD;
    
        &::before, &::after {
            position: absolute;
            content: "";
            display: inline-block;
        }
    
        &::before {
            width: 30px;
            height: 30px;
            border: 1px solid #BDBDBD;
            box-sizing: border-box;
            border-radius: 4px;
            top: -5px;
            left: 0;
        }
    
        &::after {
            height: 9px;
            width: 15px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-45deg);
            left: 7px;
            top: 3px;
        }
    }

    &-input[type="checkbox"] + &-overlay::after {
        content: none;
    }
    
    &-input[type="checkbox"]:checked + &-overlay::before {
        content: "";
        border: 1px solid #00B5AD;
        background: #00B5AD;
    }

    .wrong &-input[type="checkbox"]:checked + &-overlay::before {
        content: "";
        border: 1px solid #ED3A3A;
        background: #ED3A3A;       
    } 

    .wrong &-input[type="checkbox"]:checked + &-overlay::after {
        content: "x";  
        border: none; 
        transform: rotate(0);
        color: #ffffff;  
        left: 9px;
        top: 0;          
    }   

    &-input[type="checkbox"]:checked + &-overlay::after {
        content: "";   
        color: #ffffff;    
    }
}

.complete .checkbox-container, .wrong .checkbox-container {
    position: absolute;
    top: 31px;
    right: 20px;
}



