.logo {
    display: flex;
    text-decoration: none;

    &--dark {
        color: $primary-color;
    }

    &--light {
        color: #ffffff;
    }

    &-img {
        @include flex-center;
        padding-right: 15px;
        border-right: 3px solid;
        margin-right: 18px;

        &--dark {
            border-right-color: $primary-color;
        }

        &--light {
            border-right-color: #ffffff;
        }
    }

    &-text {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;

        &-abbr {
            text-transform: uppercase;
        }
    }
}