.modal {
	
	border-radius: 20px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 50%; /* половина экрана слева */
	margin-top: -150px;
	margin-left: -150px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	z-index: 5; /* окно должно быть наиболее большем слое */
    padding: 50px;
    transition: 0.4s;
}

.modal-title {
	font-size: 36px;
	text-align: center;
	color: #828282;
	margin-bottom: 20px;
}

.modal-subtitle {
	font-size: 24px;
	color: #333333;
	margin-bottom: 35px;
}

.modal-action-btns-container {
	text-align: center;
}

.modal-btn {
	display: inline-block;
	text-decoration: none;
	width: 135px;
	box-sizing: border-box;
	
	border-radius: 8px;
	padding: 7px 0;
	text-align: center;	
	margin-right: 20px;

	&--light {
		border: 1px solid #828282;
		color: #828282;
	}

	&--dark {
		background: #3855E1;
		border: 1px solid #3855E1;
		color: #ffffff;
	}
}

.modal.open {
	display: block;
	opacity: 1;
	top: 50%;
}

/* Кнопка закрыть для тех кто в танке) */
.modal-close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
/* Подложка */
.overlay {
	z-index: 3; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
	position: fixed; /* всегда перекрывает весь сайт */
	background-color: #000; /* черная */
	opacity: 0.8; /* но немного прозрачна */
	width: 100%; 
	height: 100%; /* размером во весь экран */
	top: 0; 
	left: 0; /* сверху и слева 0, обязательные свойства! */
	cursor: pointer;
	display: none; /* в обычном состоянии её нет) */
}

.overlay.show {
    display: block;
}