.social-links {

    &-caption {
        text-align: center;
        overflow: hidden;
        margin-bottom: 21px;

        &-text {
            text-align: center;
            font-size: 24px;
            color: #4E535B;
            position: relative;
    
            &::before {
                content: "";
                height: 1px;
                background-color: #333333;
                position: absolute;
                top: 50%;
                left: -11px;
                width: 100%;
                transform: translateX(-100%);
            }

            &::after {
                content: "";
                height: 1px;
                background-color: #333333;
                position: absolute;
                top: 50%;
                right: -11px;
                width: 100%;
                transform: translateX(100%);
            }            
        }
    }


    &-list {
        @include flex-center;
    }
}

.social-link {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: center center no-repeat;

    margin-right: 20px;

    &-google-plus {
        background-color: #ED3A3A;
        background-image: url("../img/icons/google-plus.png");
    }

    &-facebook {
        background-color: #3C5A99;
        background-image: url("../img/icons/facebook.png");
    }

    &-linkedin {
        background-color: #007AB9;
        background-image: url("../img/icons/linkedin.png");
    }
    
    &-twitter {
        background-color: #33CCFF;
        background-image: url("../img/icons/twitter.png");
    }    
}