.navbar-light {
    padding: 40px 0;
}

.navbar-dark {
	padding: 20px 0;
	background-color: $primary-color;
	
	.container {
		@include flex-space-between;
	}
}

.navbar-search {
	margin: 0 100px 0 auto;
	position: relative;

	&-input {
		padding: 11px 63px;
		font-size: 24px;
		color: #333;
		border-radius: 8px;
		border: none;
		outline: none;
	}

	&-icon {
		position: absolute;
		top: 14px;
		left: 23px;
		width: 23px;
		height: 22px;
		background: url(../img/search-icon.png) center/cover no-repeat;
	}
}

.user {
	@include flex-center;
	position: relative;
	
	&-text {
		font-size: 21px;
		color: #fff;
		text-align: right;
		line-height: 1.3em;
	}
	
	&-name {
		text-decoration: none;
		border-bottom: 1px solid #fff;
	}
	
	&-photo {
		width: 82px;
		height: 82px;
		border-radius: 50%;
		background: url(../img/user-photo.png) center/cover no-repeat;
		margin-left: 18px;
	}
	
	&-menu {
 		position: absolute;
		top: 102px;
		right: 0;
		width: 100%;
		border-radius: 8px;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
		z-index: 2;
		
		&-icon {
			margin-right: 20px;
		}
		
		&-link {
			padding: 17px 23px;
			width: 100%;
			display: inline-block;
			font-size: 21px;
			color: #828282;
			text-decoration: none;
			background-color: #fff;
			box-sizing: border-box;
			transition: 0.2s;
			
			&:hover {
				color: #1B3E85;
				background-color: #EDF2F5;
			}
		}
	}
}





