.start-content {

    &-row {
        display: flex;
    }

    &-welcome-img-b {
        flex: 0 1 1012px;
        // padding-right: 93px;
        // background: url("../img/start-page-promo.png") bottom no-repeat;
        // background-position: -93px bottom;
        // background-size: contain;
        position: relative;
        min-height: 642px;
    }

    &-welcome-img {
        position: absolute;
        bottom: 0;
        right: 93px;
    }

    &-welcome-text-b {
        flex: 0 0 568px;
    }
}