<form action="#" class="login-form" id="login-form">
    @@loop('./fields/text-input.html', [
        { iconType: "email", type: "email", placeholder: "Email address", name: "email", complete: "complete", value: "Anatolii.safronov@gmail.com" },
        { iconType: "password", type: "password", placeholder: "Password",  name: "password" }
    ])

    <div class="login-options">
        @@include('./fields/checkbox-input.html', {
            checked: "", 
            label: "Remember me",
            name: "remember-user",
            id: "remember-user"
        })

        <a href="reset-password.html" class="form-link">Forgot password?</a>
    </div>

    <div class="button-container">
        @@include('./fields/form-button.html', { 
            type: "dark", 
            text: "Login now" 
        })  

        @@include('../button.html', { 
                type: "light", 
                text: "Create account",
                link: "register.html" 
        })  
      
    </div>
</form>

