<form action="#" class="form" id="reset-password-form">
    @@include('./fields/text-input.html', { 
        iconType: "password", 
        type: "password", 
        placeholder: "Password",  
        name: "password" }
    )

    <p class="form-text">Go back to <a href="index.html" class="text-link">Login</a></p>

    <div class="button-container">
        @@include('./fields/form-button.html', { 
            type: "dark", 
            text: "Reset" }
        )        
    </div>
</form>

