<form action="#" class="sign-up-form" id="sign-up-form">
    @@loop('./fields/text-input.html', [
        { iconType: "user", type: "text", placeholder: "Full name", name: "full-name", complete: "complete", value: "Anatolii Safronov" },
        { iconType: "email", type: "email", placeholder: "Email address", name: "email", complete: "complete", value: "Anatolii.safronov@gmail.com" },
        { iconType: "password", type: "password", placeholder: "Password",  name: "password", complete: "complete", value: "Anatolii Safronov" },
        { iconType: "password", type: "password", placeholder: "Confirm password",  name: "confirm-password", "complete": "wrong", value: "Anatolii Safronov" }
    ])

    <div class="button-container">
        @@include('./fields/form-button.html', { 
            type: "dark", 
            text: "Create account" 
        })        
    </div>
</form>

