<section class="navbar-dark">
    <div class="container">
        @@include('../components/logo.html', {
            type: "light", 
            company: {
                abbr: "IBA",
                name: "Tech Academy"
            }
        })
        
        <div class="navbar-search">
        	<input placeholder="Search" type="text" class="navbar-search-input">
			<div class="navbar-search-icon"></div>
        </div>
        
        <div class="user">
        	<div>
        		<p class="user-text">Welcome,</p>
        		<a href="#" class="user-text user-name">Anatolii Safronov</a>
        	</div>
        	<div class="user-photo"></div>
        	<ul class="user-menu">
        		<li>
        			<a href="#" class="user-menu-link">
        				<img src="../img/archive-icon.png" alt="archive-icon" class="user-menu-icon">
        				Archive
        			</a>
        		</li>
        		<li class="user-menu-item">
        			<a href="#" class="user-menu-link">
        				<img src="../img/my-tasks-icon.png" alt="my-tasks-icon" class="user-menu-icon">
        				My tasks
					</a>
       			</li>
        		<li>
        			<a href="#" class="user-menu-link">
        				<img src="../img/log-out-icon.png" alt="log-out-icon" class="user-menu-icon">
        				Log out
        			</a>
        		</li>
        	</ul>
        </div>
    </div>
</section>