<div class="navbar-light">
    <div class="container">
        @@include('../components/logo.html', {
            type: "dark", 
            company: {
                abbr: "IBA",
                name: "Tech Academy"
            }
        })
    </div>
</div>