<main class="start-content">
    <div class="container">
        <div class="start-content-row">
            <div class="start-content-welcome-img-b">
                <img src="../img/start-page-promo.png" class="start-content-welcome-img" alt="#">
            </div>
            <div class="start-content-welcome-text-b">
                @@include('../components/welcome-text.html', {
                    "title": "@@welcomeText.title",
                    "text": "@@welcomeText.text"
                })

                @@if(context.formType === "login") {
                    @@include('../components/login-block.html')
                }
                @@if(context.formType === "login-fill") {
                    @@include('../components/login-block-fill.html')
                }                
                @@if(context.formType === "sign-up") {
                    @@include('../components/forms/sign-up.html')
                }
                @@if(context.formType === "sign-up-fill") {
                    @@include('../components/forms/sign-up-fill.html')
                }                
                @@if(context.formType === "reset-password") {
                    @@include('../components/forms/reset-password.html')
                }                
            </div>
        </div>
    </div>
</main>