<div class="text-input-container @@complete">
    <span class="text-input-icon">
        <span>
            <img src="../img/icons/@@iconType.png" alt="">
        </span>        
    </span>
    <input type="@@type" class="form-control @@complete" placeholder="@@placeholder" value="@@value">
    @@if(context.complete === "complete") {
        @@include('./checkbox-input.html', {
            checked: "checked", 
            label: "",
            name: "remember-user",
            id: "remember-user"
        })       
    }

    @@if(context.complete === "wrong") {
        @@include('./checkbox-input.html', {
            checked: "checked", 
            label: "",
            name: "remember-user",
            id: "remember-user"
        })       
    }    
</div>