@@include(('../templates/components/page-head.html', {
    title: "Sign-up page"
}))
<body>
    @@include(('../templates/sections/navbar-light.html'))
    @@include('../templates/sections/start-content.html', {
        welcomeText: {
                title: "Create an account",
                text: "Create your account, it takes less than a minute. If you already have an account <a class='text-link'>Login</a>"
            },
        formType: "sign-up-fill"
    }) 
</body>
</html>