@@include(('../templates/components/page-head.html', {
    title: "Tasks archive"
}))
<body>
    @@include('../templates/components/delete-modal.html')
    @@include(('../templates/sections/navbar-dark.html'))
    @@include(('../templates/sections/task-list.html', {
        title: "Archive"
    }))

    <script src="../js/scripts.js"></script>
</body>
</html>