<div class="modal"><!-- Само окно --> 
    <span class="modal-close">X</span> <!-- Кнопка закрыть --> 
    <h3 class="modal-title">You definitely want to delete?</h3>
    <p class="modal-subtitle">This action cannot be undone!</p>
    <div class="modal-action-btns-container">
        <a href="" class="modal-btn modal-btn--light">Go Back</a>
        <a href="" class="modal-btn modal-btn--dark">Delete</a>
    </div>
</div>
<div class="overlay"></div><!-- Подложка -->