@@include('./forms/login-form-fill.html')
<div class="login-social-links">
    <div class="social-links-caption">
        <span class="social-links-caption-text">Or you can Join with</span>
    </div>
    <div class="social-links-list">
        @@loop('./social-link.html', [
            { type: "google-plus"},
            { type: "facebook" },
            { type: "linkedin" },
            { type: "twitter" }
        ])
    </div>
</div>