<a href="#" class="logo logo--@@type">
    <div class="logo-img logo-img--@@type">
        <span>
            <img src="../img/logo-@@type.png" alt="">
        </span>        
    </div>            
    <div class="logo-text">
        <p class="logo-text-abbr">@@company.abbr</p>
        <p class="logo-text-company-name">@@company.name</p>
    </div>           
</a>